{% extends 'base.html.twig' %}

{% block title %}Les Categories{% endblock %}

{% block body %}
<div class="section-full job-categories content-inner-2 bg-white" style="background-image:url(../images/pattern/pic1.html);">
    <div class="container">
        <div class="row sp20">
            {% for c in categories %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="icon-bx-wraper">
                    <div class="icon-content">
                        <div class="icon-md text-primary m-b20"><i class="ti-location-pin"></i></div>
                            <a href="{{path('categorie_id',{'id': c.id })}}" class="dez-tilte">{{ c.nom }}</a>
                            <p class="m-a0">{{ c.description }}</p>
                            <div class="rotate-icon"><i class="ti-location-pin"></i></div> 
                            </div>
                        </div>				
                    </div>
                    {% endfor %}
                </div>
            </div>
</div>
{% endblock %}
